<a href="https://colab.research.google.com/github/LRAzizova/MyHomeWork/blob/main/%D0%9F%D0%BE%D0%B2%D1%82%D0%BE%D1%80%D0%B5%D0%BD%D0%B8%D0%B5_04_04_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Begin1. Дана сторона квадрата a. Найти его периметр P = 4·a

In [1]:
a=float(input('a='))
p=4*a
print(p)

a=4
16.0

Begin11. Даны два ненулевых числа. Найти сумму, разность, произведение и частное их модулей.

In [4]:
import math
a=float(input('a='))
b=float(input('b='))
s=a+b
p=a-b
c=a*b
d=math.fabs(a)/math.fabs(b)
print(s, p, c, d)

a=7
b=5
12.0 2.0 35.0 1.4

Begin12. Даны катеты прямоугольного треугольника a и b. Найти его гипоте- нузу c и периметр P:

In [7]:
import math
a=float(input('a='))
b=float(input('b='))
c=math.sqrt((a**2)+(b**2))
p=a+b+c
print(c, p)

a=8
b=9
12.041594578792296 29.041594578792296

Begin9. Даны два неотрицательных числа a и b. Найти их среднее геометриче-
ское, то есть квадратный корень из их произведения:	.

In [9]:
import math
a=float(input('a='))
b=float(input('b='))
c=math.sqrt(a*b)
print(c)

a=6
b=5
5.477225575051661

Begin7. Найти длину окружности L и площадь круга S заданного радиуса R:
L = 2··R,	S = ·R2.

In [13]:
r=float(input('r='))
l=2*3.14*r
s=3.14*(r**2)
print(l, s)

r=6
37.68 113.04

Integer1. Дано расстояние L в сантиметрах. Используя операцию деления наце- ло, найти количество полных метров в нем (1 метр = 100 см).

In [14]:
l=float(input('l='))
d=l//100
print(d)

l=869
8.0

Integer3. Дан размер файла в байтах. Используя операцию деления нацело, найти количество полных килобайтов, которые занимает данный файл (1 килобайт = 1024 байта).

In [15]:
f=float(input('f='))
b=f//1024
print(b)

f=8944
8.0

Integer6. Дано двузначное число. Вывести вначале его левую цифру (десятки), а затем — его правую цифру (единицы). Для нахождения десятков исполь- зовать операцию деления нацело, для нахождения единиц — операцию взятия остатка от деления.

In [17]:
n=int(input('n='))
d=n//10
u=n%10
print(d, u)

n=67
6 7

Integer11. Дано трехзначное число. Найти сумму и произведение его цифр.

In [20]:
n=int(input('n='))
a=n//100
b=(n//10)%10
c=n%10
s=a+b+c
p=a*b*c
print(s, p)

n=123
6 6

Integer19. С начала суток прошло N секунд (N — целое). Найти количество полных минут, прошедших с начала суток.

In [22]:
n=int(input('n='))
m=n//60
print(m)

n=976
16

Boolean1. Дано целое число A. Проверить истинность высказывания: «Число
A является положительным».

In [24]:
a=int(input('a='))
print(a>0)

a=-57
False

Boolean7. Даны три целых числа: A, B, C. Проверить истинность высказыва- ния: «Число B находится между числами A и C».

In [25]:
a=int(input('a='))
b=int(input('b='))
c=int(input('c='))
print(a<b<c)

a=6
b=4
c=7
False

Boolean20. Дано трехзначное число. Проверить истинность высказывания:
«Все цифры данного числа различны».

In [27]:
n=int(input('a='))
a=n//100
b=(n//10)%10
c=n%10
print(a!=b!=c)

a=887
False

Boolean21. Дано трехзначное число. Проверить истинность высказывания:
«Цифры данного числа образуют возрастающую последовательность».

In [29]:
n=int(input('a='))
a=n//100
b=(n//10)%10
c=n%10
print(a<b<c)

a=583
False

Boolean32. Даны целые числа a, b, c, являющиеся сторонами некоторого тре- угольника. Проверить истинность высказывания: «Треугольник со сторо- нами a, b, c является прямоугольным».

In [31]:
a=int(input('a='))
b=int(input('b='))
c=int(input('c='))
print("+" if a**2 + b**2 == c**2 else "-")

a=3
b=4
c=5
+

If1. Дано целое число. Если оно является положительным, то прибавить к не- му 1; в противном случае не изменять его. Вывести полученное число.

In [34]:
a=int(input('a='))
if a>0:
  a=a+1

print(a)

a=-9
-9

If8. Даны два числа. Вывести вначале большее, а затем меньшее из них.

In [35]:
a=int(input('a='))
b=int(input('b='))
if a>b:
    print(a)
    print(b)
else:
    print(b)
    print(a)

a=9
b=7
9
7

If12. Даны три числа. Найти наименьшее из них.

In [38]:
a=int(input('a='))
b=int(input('b='))
c=int(input('c='))
mn=a
if mn>b:
  mn=b
if mn>c:
  mn=c
print (mn)

a=7
b=8
c=1
1

If18. Даны три целых числа, одно из которых отлично от двух других, равных между собой. Определить порядковый номер числа, отличного от осталь- ных.

In [42]:
a=int(input('a='))
b=int(input('b='))
c=int(input('c='))

if a==b:
    print(3)
elif a==c:
    print(2)
else:
    print(1)

a=8
b=5
c=8
2

If24. Для данного вещественного x найти значение следующей функции f, при- нимающей вещественные значения:

f(x) =
2·sin(x),	если x > 0,
	6 – x,	если x  0.

In [43]:
import math

x=float(input('x='))
if x>0:
    r= 2*math.sin(x)
elif x<=0:
    r=6-x

print(r)

x=5
-1.917848549326277

For1. Даны целые числа K и N (N > 0). Вывести N раз число K.

In [46]:
K = int(input('K='))
N = int(input('N='))

for i in range(K):
    print(N, end='')

K=9
N=4
444444444

For10. Дано целое число N (> 0). Найти сумму
1 + 1/2 + 1/3 + … + 1/N
(вещественное число).

In [47]:
N = int(input('N='))
s = 0

for i in range(1, N + 1):
    s = s + 1 / i

print(s)

N=6
2.4499999999999997

For16. Дано вещественное число A и целое число N (> 0). Используя один цикл, вывести все целые степени числа A от 1 до N.

In [50]:
A = float(input('A='))
N = int(input('N='))

for i in range(1, N + 1):
    print(A**i, end='')

A=9
N=7
9.081.0729.06561.059049.0531441.04782969.0

For36. Даны целые положительные числа N и K. Найти сумму
1K + 2K + … + NK.
Чтобы избежать целочисленного переполнения, вычислять слагаемые этой суммы с помощью вещественной переменной и выводить результат как вещественное число.

In [52]:
N = int(input('N='))
K = int(input('K='))
s = 0.0

for i in range(1, N + 1):
    s = s + float(i ** K)

print(s)

N=8
K=5
61776.0

For39. Даны целые положительные числа A и B (A < B). Вывести все целые числа от A до B включительно; при этом каждое число должно выводиться столько раз, каково его значение (например, число 3 выводится 3 раза).

In [57]:
A = int(input('A='))
B = int(input('B='))

for i in range(A, B + 1):
    for j in range(i):
        print(i, end='  ')

A=9
B=11
9  9  9  9  9  9  9  9  9  10  10  10  10  10  10  10  10  10  10  11  11  11  11  11  11  11  11  11  11  11

While1. Даны положительные числа A и B (A > B). На отрезке длины A разме- щено максимально возможное количество отрезков длины B (без наложе- ний). Не используя операции умножения и деления, найти длину незанятой части отрезка A.

In [63]:
A = int(input('A='))
B = int(input('B='))
s = 0

while A >= B:
    A = A - B
    s = s + 1

print(A, s, end='  ')

A=10
B=3
1 3

While7. Дано целое число N (> 0). Найти наименьшее целое положительное число K, квадрат которого превосходит N: K2 > N. Функцию извлечения квадратного корня не использовать.

In [59]:
N = int(input('N='))
K = 1

while K * K <= N:
    K = K + 1

print(K)

N=36
7

While22. Дано целое число N (> 1). Если оно является простым, то есть не имеет положительных делителей, кроме 1 и самого себя, то вывести True, иначе вывести False.

In [66]:
N = int(input('N='))
i = 2
p = True

while i * i <= N:
    if N % i == 0:
        p = False
        break
    i = i + 1

print(p)

N=13
True

While26. Дано целое число N (> 1), являющееся числом Фибоначчи: N = FK (оп- ределение чисел Фибоначчи дано в задании While24). Найти целые числа FK–1 и FK+1 — предыдущее и последующее числа Фибоначчи.

In [81]:
N = int(input('N='))

fab1 = 1
fab2 = 1
while fab2<N:
    fab3 = fab1 + fab2
    fab1 = fab2
    fab2 = fab3

print(fab1,fab1+fab2)

N=13
8 21

While30. Даны положительные числа A, B, C. На прямоугольнике размера A  B размещено максимально возможное количество квадратов со стороной C (без наложений). Найти количество квадратов, размещенных на прямо- угольнике. Операции умножения и деления не использовать.

In [83]:
a = int(input('A='))
b = int(input('B='))
c = int(input('C='))
k1=0
k2=0
while a>=c:
  a=a-c
  k1+=1

while b>=c:
  b=b-c
  k2+=1

print(k1*k2)

A=7
B=11
C=2
15

While21. Дано целое число N (> 0). С помощью операций деления нацело и взя- тия остатка от деления определить, имеются ли в записи числа N нечетные цифры. Если имеются, то вывести True, если нет — вывести False.

In [87]:
n = int(input('n='))
y=False
while n!=0:
  b=n%10
  if b%2==1:
    y=True
  n=n//10
print(y)

n=478
True